<mat-toolbar class="header">
    <nav>
        <span>
            <a routerLink="/home">FakeStore</a>
        </span>
        <div class="header-menu">
            <a routerLink="/home" routerLinkActive="active">Home</a>
            <a routerLink="/categories" routerLinkActive="active">Category</a>
            <a routerLink="/products" routerLinkActive="active">Products</a>
            <a routerLink="/add-product" routerLinkActive="active">Add Product</a>
            <a routerLink="/profile" routerLinkActive="active">Profile</a>
        </div>
    </nav>
</mat-toolbar>
